{% extends 'usuarios/base.html' %}

{% block aba %}Alterar Notas{% endblock %}

{% block titulo %}Alterar Notas{% endblock %}

{% block conteudo %}
<h3>Alteração de notas registradas</h3>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Aluno</th>
            <th>Disciplina</th>
            <th>Nota das Atividade</th>
            <th>Nota do Trabalho</th>
            <th>Nota da Prova</th>
            <th>Alterar</th>
        </tr>
        {% for campo in lista_notas %}
        <tr>
            <td>{{ user.firts_name }}</td>
            <td>{{ campo.disciplina }}</td>
            <td>{{ campo.nota_atividades }}</td>
            <td>{{ campo.nota_trabalho }}</td>
            <td>{{ campo.nota_prova }}</td>
            <td>{{ campo.media }}</td>
            <td>
                <a href="{% url 'editar_verificacao' campo.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_verificacao' campo.pk %}" class="btn btn-warning btn-sm">Excluir</a>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="6">Nenhum resgistro encontrado! seu vcilão.</td>
            </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% endblock %}

